@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Nanum+Gothic&family=Noto+Sans+KR&display=swap');

*{
font-family: 'Do Hyeon', sans-serif;
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Noto Sans KR', sans-serif;
}
thead th{
	background-color: #006DCC;
	color: white;
	text-align: center;
}